.schedule-container {
    background: linear-gradient(180deg, #4a148c, #1a1a1a);
    padding: 20px;
    text-align: center;
}

.headline {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.schedule-table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color:rgba(13, 9, 41, 0.51);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.schedule-table th, .schedule-table td {
    border: medium double #e0e0e0;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.schedule-table th {

    background-color:rgba(13, 9, 41, 0.51);
;
    font-weight: bold;
    color: white;
}

.schedule-table td {
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .schedule-table th, .schedule-table td {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .schedule-table th, .schedule-table td {
        padding: 5px;
    }

    .headline {
        font-size: 1.5em;
    }
}