.preferences-container {
    background: linear-gradient(180deg, #4a148c, #1a1a1a);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.headline {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.preferences-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    color: white;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.select-field {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #4a148c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #6a1b9a;
}

@media screen and (max-width: 768px) {
    .preferences-container {
        padding: 20px;
    }

    .input-field, .submit-button {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    .headline {
        font-size: 1.5em;
    }

    .input-field, .submit-button {
        font-size: 0.8em;
    }
}

.button-container {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    gap: 10px; /* Adds space between the buttons */
}

.back-button {
    background-color: #7c63c5; /* A soft red color */
    color: white; /* White text color */
    padding: 5px 10px; /* Smaller padding for a smaller button */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.9em; /* Slightly smaller font size */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}

.back-button:hover {
    background-color: #7a5fc8; /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.back-button:active {
    background-color: #6c4dc6; /* Even darker red on click */
    transform: scale(0.95); /* Slightly shrink the button on click */
}

.back-button:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 10px rgba(255, 111, 97, 0.5); /* Add a glowing effect on focus */
}
